@import "../styles/config.scss";

.button {
    border-radius: .5rem;
    width: 11rem;
    height: 3.5rem;
    cursor: pointer;
    transition: .2s;
    color: #fff;
        
    &.primary {
        border: .1rem solid $primary-color;
        background-color: $primary-color;
        
        &:hover {
            background-color: $primary-color-hover;
        }
    }

    &.secundary {
        border: .1rem solid rgb(199, 121, 48);
        background-color: rgb(221, 136, 56);
        
        &:hover {
            background-color: rgb(199, 118, 42);
        }
    }
}