.header {
    padding: 4rem 0;

    &_menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &_item {
            font-size: 1.8rem;
            
            &_link {
                cursor: pointer;
            }
        }
    }
}