.header {
    padding: 2rem 0;

    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_user {
        lucide-icon {
            cursor: pointer;
        }
    }
}