<ul class="orders_list">
    <div class="orders_list_header">
        <div class="orders_list_header_action">
            <button class="orders_list_header_action_button process" [ngClass]="{'selected': !selectFilter}" (click)="changeFilterButton(false)">Em Preparo</button>
            <button class="orders_list_header_action_button finish" [ngClass]="{'selected': selectFilter}" (click)="changeFilterButton(true)">Finalizados</button>
        </div>
    </div>

    <li class="orders_list_item" [ngClass]="{'selected': currentOrder === order}" *ngFor="let order of ordersListFiltered; let i = index" (click)="selectOrder(order, i + 1)">
        <div class="orders_list_item_content">
            <h2 class="orders_list_item_content_title">Pedido #{{order.id}}</h2>
            <p class="orders_list_item_content_subtitle">{{order.data_venda | date: 'dd/MM/yyyy HH:mm'}}</p>
        </div>

        <div class="orders_list_item_status started" [ngClass]="{'finish': order.finalizado}">
            {{order.finalizado ? 'Finalizado' : 'Em preparo!'}}
        </div>
    </li>
</ul>