<div class="products">
    <div class="products_header">
        <app-header title="Produtos"></app-header>
    </div>

    <div class="products_subheader">
        <input class="products_subheader_search" type="text" placeholder="Pesquisar produto">

        <button class="products_subheader_button" (click)="handleOpenCreateDialog()">
            Novo Produto
        </button>
    </div>

    <div class="products_main">
        <ul class="products_main_card">
            <li class="products_main_card_item" *ngFor="let product of productsList">
                {{product.nome}}

                <img [src]="product.imagem" alt="Imagem do produto">
                <lucide-icon class="products_main_card_item_delete" name="X" (click)="deleteProduct(product.codigo, product.imagem)"></lucide-icon>
            </li>
        </ul>
    </div>
</div>