<div class="products">
    <div class="products_header">
        <h2>Produtos</h2>
        
        <div class="products_header_subheader">
            <input class="products_header_subheader_search" type="text" placeholder="Pesquisar produto">

            <button class="products_header_subheader_button">
                Novo Produto
            </button>
        </div>
    </div>

    <div class="products_main">
        <ul class="products_main_card">
            <li class="products_main_card_item" *ngFor="let product of productsList">
                {{product.nome}}
            </li>
        </ul>
    </div>
</div>