<div class="home">
    <div class="home_container">
        <div class="home_container_row border">
            
            <div class="home_container_row_box">
                Top 5 mais pedidos

                <div class="home_container_row_box_list">
                    <div class="home_container_row_box_list_card">
                        Top 1
                    </div>
    
                    <div class="home_container_row_box_list_card">
                        Top 2
                    </div>
    
                    <div class="home_container_row_box_list_card">
                        Top 3
                    </div>
    
                    <div class="home_container_row_box_list_card">
                        Top 4
                    </div>
    
                    <div class="home_container_row_box_list_card">
                        Top 5
                    </div>
                </div>
               
            </div>
        </div>

        <div class="home_container_column">
            <div class="home_container_column_box border">
                Total vendido
            </div>
            <div class="home_container_column_box border">
                Total de produtos
            </div>
        </div>
    </div>
</div>