@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import './app/styles/config.scss';
@import './app/styles/utils.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

body {
    font-size: 1.6rem;
    color: #444;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
html, body { height: 100%; }
body { margin: 0;}
button {font-family: 'Rubik', sans-serif;}

// classes globais



lucide-icon {
    display: flex;
    align-items: center;
}