<div class="orders_details" *ngIf="currentOrder">
    <div class="orders_details_header">
        <div class="orders_details_content">
            <h2 class="orders_details_header_content_title">Pedido #{{orderNumber}}</h2>
            <p class="orders_details_header_content_subtitle">{{currentOrder.data_venda | date: 'dd/MM/yyyy HH:mm'}}</p>
        </div>
        
        <div class="orders_details_header_client">
            <lucide-icon name="user"></lucide-icon>
            Nome cliente
        </div>
    </div>

    <div class="orders_details_group space-between">        
        <div class="orders_details_group_details">
            <label class="orders_details_group_details_label">Observações</label>
            <span class="orders_details_group_details_obs">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
        </div>

        <div>
            Mesa: {{currentOrder.mesa}}
        </div>
    </div>
    
    <div class="orders_details_menu">
        <div class="orders_details_menu_header">
            <h2 class="orders_details_menu_header_title">Menu do pedido</h2>
        </div>

        <ul class="orders_details_menu_list">
            <li class="orders_details_menu_list_item" *ngFor="let cart of currentOrder.lista_carrinho">
                <img [src]="API_URL + cart.imagem">

                <div class="orders_details_menu_list_item_content">
                    <span class="orders_details_menu_list_item_content_name">{{cart.nome}}</span>
                    <span class="orders_details_menu_list_item_content_count">{{cart.quantidade}}x</span>
                </div>
            </li>
        </ul>

        <div class="orders_details_menu_actions">
            <button class="button primary" (click)="finishSubmit()">Finalizar</button>
        </div>
    </div>
</div>